@charset "utf-8";
.Second_Text {
	  position: relative;
    text-align: center;
    text-shadow: 0px 0px #F5F1F1;
    border-color: #F0EAEA;
    font-size: 75px;
    margin-top: 100px;
	width: 50vw;
    margin-left: 50vw;
    top: px;
    bottom: px;
	color: #000903;
}

.First_Choice {
    position: relative;
	text-shadow: 0px 0px #F5F1F1;
    text-align: center;
    font-size: 75px;
    top: 185px;
    border-color: #F0EAEA;
    margin-left: -50vw;
    color: #000903;
	
}#CYOA_Vid_1 {
	 width: 50vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 100;
	
}
#CYOA_Vid_2 {
    width: 50vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    right: 1px;
}